!!! Strict
%html
  %head
    %title
      Test Haml - Sass - php
    %link{ :rel => "stylesheet", :href => "stylesheets/screen.css", :type => "text/css", :media => "screen"}
  %body
    %h1
      Welcome to test HAML - SASS - PHP
      <?php echo "mohammed"; ?>